.border{
    width: 20vw;
    height: 20vw;

}
.body{
    width: 99vw;height: 40vw;
    
}
.colum-test{
    width: 98vw;
    margin-top: 2%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}