<table>    <thead>
    <tr>
        <th colspan="11" style="text-align: start;">Ｅｘｃｌｏｎｅ</th>
        </tr>
        <th>
            Fx
        </th>
        <th colspan="11">
            <input type="text" (keydown.enter)="catch($event.target.value)" [value]="dapan">
        </th>
        <!-- <tr *ngFor="let i of cot">
        <th>{{i}}</th>
        </tr> -->
        <tr>
            <th>
            </th>
            <th>
                A
            </th>
            <th>
                B
            </th>
            <th>
                C
            </th>
            <th>
                D
            </th>
            <th>
                E
            </th>
            <th>
                F   
            </th>
            <th>
            G
            </th>
            <th>
                H
            </th>
            <th>
                I
        </th>
            <th>
                J
        </th>
        </tr>
    </thead>

    <tbody>
        <!-- <tr *ngFor="let j of arr">
            <th>{{i}}</th>
        <td><input type="text" (keydown.enter)="arr[0]=catch($event.target.value)" [value]="arr[0]"[value]="dapan"></td>
        </tr> -->
        <tr>
            <th>1</th>
            <td><input type="text" (keydown.enter)="arr[0]=catch($event.target.value)" [value]="arr[0]"/></td>
            <td><input type="text" (keydown.enter)="arr[1]=catch($event.target.value)" [value]="arr[1]"/></td>
            <td><input type="text" (keydown.enter)="arr[2]=catch($event.target.value)" [value]="arr[2]"/></td>
            <td><input type="text" (keydown.enter)="arr[3]=catch($event.target.value)" [value]="arr[3]"/></td>
            <td><input type="text" (keydown.enter)="arr[4]=catch($event.target.value)" [value]="arr[4]"/></td>
            <td><input type="text" (keydown.enter)="arr[5]=catch($event.target.value)" [value]="arr[5]"/></td>
            <td><input type="text" (keydown.enter)="arr[6]=catch($event.target.value)" [value]="arr[6]"/></td>
            <td><input type="text" (keydown.enter)="arr[7]=catch($event.target.value)" [value]="arr[7]"/></td>
            <td><input type="text" (keydown.enter)="arr[8]=catch($event.target.value)" [value]="arr[8]"/></td>
            <td><input type="text" (keydown.enter)="arr[9]=catch($event.target.value)" [value]="arr[9]"/></td>
        </tr>
        <tr>

            <th>2</th>
            <td><input type="text" (keydown.enter)="arr[10]=catch($event.target.value)" [value]="arr[10]"/></td>
            <td><input type="text" (keydown.enter)="arr[11]=catch($event.target.value)" [value]="arr[11]"/></td>
            <td><input type="text" (keydown.enter)="arr[12]=catch($event.target.value)" [value]="arr[12]"/></td>
            <td><input type="text" (keydown.enter)="arr[13]=catch($event.target.value)" [value]="arr[13]"/></td>
            <td><input type="text" (keydown.enter)="arr[14]=catch($event.target.value)" [value]="arr[14]"/></td>
            <td><input type="text" (keydown.enter)="arr[15]=catch($event.target.value)" [value]="arr[15]"/></td>
            <td><input type="text" (keydown.enter)="arr[16]=catch($event.target.value)" [value]="arr[16]"/></td>
            <td><input type="text" (keydown.enter)="arr[17]=catch($event.target.value)" [value]="arr[17]"/></td>
            <td><input type="text" (keydown.enter)="arr[18]=catch($event.target.value)" [value]="arr[18]"/></td>
            <td><input type="text" (keydown.enter)="arr[19]=catch($event.target.value)" [value]="arr[19]"/></td>
        </tr>
        <tr>

            <th>3</th>
            <td><input type="text" (keydown.enter)="arr[20]=catch($event.target.value)" [value]="arr[20]"/></td>
            <td><input type="text" (keydown.enter)="arr[21]=catch($event.target.value)" [value]="arr[21]"/></td>
            <td><input type="text" (keydown.enter)="arr[22]=catch($event.target.value)" [value]="arr[22]"/></td>
            <td><input type="text" (keydown.enter)="arr[23]=catch($event.target.value)" [value]="arr[23]"/></td>
            <td><input type="text" (keydown.enter)="arr[24]=catch($event.target.value)" [value]="arr[24]"/></td>
            <td><input type="text" (keydown.enter)="arr[25]=catch($event.target.value)" [value]="arr[25]"/></td>
            <td><input type="text" (keydown.enter)="arr[26]=catch($event.target.value)" [value]="arr[26]"/></td>
            <td><input type="text" (keydown.enter)="arr[27]=catch($event.target.value)" [value]="arr[27]"/></td>
            <td><input type="text" (keydown.enter)="arr[28]=catch($event.target.value)" [value]="arr[28]"/></td>
            <td><input type="text" (keydown.enter)="arr[29]=catch($event.target.value)" [value]="arr[29]"/></td>
        </tr>
        <tr>

            <th>4</th>
            <td><input type="text" (keydown.enter)="arr[30]=catch($event.target.value)" [value]="arr[30]"/></td>
            <td><input type="text" (keydown.enter)="arr[31]=catch($event.target.value)" [value]="arr[31]"/></td>
            <td><input type="text" (keydown.enter)="arr[32]=catch($event.target.value)" [value]="arr[32]"/></td>
            <td><input type="text" (keydown.enter)="arr[33]=catch($event.target.value)" [value]="arr[33]"/></td>
            <td><input type="text" (keydown.enter)="arr[34]=catch($event.target.value)" [value]="arr[34]"/></td>
            <td><input type="text" (keydown.enter)="arr[35]=catch($event.target.value)" [value]="arr[35]"/></td>
            <td><input type="text" (keydown.enter)="arr[36]=catch($event.target.value)" [value]="arr[36]"/></td>
            <td><input type="text" (keydown.enter)="arr[37]=catch($event.target.value)" [value]="arr[37]"/></td>
            <td><input type="text" (keydown.enter)="arr[38]=catch($event.target.value)" [value]="arr[38]"/></td>
            <td><input type="text" (keydown.enter)="arr[39]=catch($event.target.value)" [value]="arr[39]"/></td>
        </tr>
        <tr>

            <th>5</th>
            <td><input type="text" (keydown.enter)="arr[40]=catch($event.target.value)" [value]="arr[40]"/></td>
            <td><input type="text" (keydown.enter)="arr[41]=catch($event.target.value)" [value]="arr[41]"/></td>
            <td><input type="text" (keydown.enter)="arr[42]=catch($event.target.value)" [value]="arr[42]"/></td>
            <td><input type="text" (keydown.enter)="arr[43]=catch($event.target.value)" [value]="arr[43]"/></td>
            <td><input type="text" (keydown.enter)="arr[44]=catch($event.target.value)" [value]="arr[44]"/></td>
            <td><input type="text" (keydown.enter)="arr[45]=catch($event.target.value)" [value]="arr[45]"/></td>
            <td><input type="text" (keydown.enter)="arr[46]=catch($event.target.value)" [value]="arr[46]"/></td>
            <td><input type="text" (keydown.enter)="arr[47]=catch($event.target.value)" [value]="arr[47]"/></td>
            <td><input type="text" (keydown.enter)="arr[48]=catch($event.target.value)" [value]="arr[48]"/></td>
            <td><input type="text" (keydown.enter)="arr[49]=catch($event.target.value)" [value]="arr[49]"/></td>
        </tr>
        <tr>
            <th>6</th>
            <td><input type="text" (keydown.enter)="arr[50]=catch($event.target.value)" [value]="arr[50]"/></td>
            <td><input type="text" (keydown.enter)="arr[51]=catch($event.target.value)" [value]="arr[51]"/></td>
            <td><input type="text" (keydown.enter)="arr[52]=catch($event.target.value)" [value]="arr[52]"/></td>
            <td><input type="text" (keydown.enter)="arr[53]=catch($event.target.value)" [value]="arr[53]"/></td>
            <td><input type="text" (keydown.enter)="arr[54]=catch($event.target.value)" [value]="arr[54]"/></td>
            <td><input type="text" (keydown.enter)="arr[55]=catch($event.target.value)" [value]="arr[55]"/></td>
            <td><input type="text" (keydown.enter)="arr[56]=catch($event.target.value)" [value]="arr[56]"/></td>
            <td><input type="text" (keydown.enter)="arr[57]=catch($event.target.value)" [value]="arr[57]"/></td>
            <td><input type="text" (keydown.enter)="arr[58]=catch($event.target.value)" [value]="arr[58]"/></td>
            <td><input type="text" (keydown.enter)="arr[59]=catch($event.target.value)" [value]="arr[59]"/></td>
        </tr>
        <tr>
            <th>7</th>
            <td><input type="text" (keydown.enter)="arr[60]=catch($event.target.value)" [value]="arr[60]"/></td>
            <td><input type="text" (keydown.enter)="arr[61]=catch($event.target.value)" [value]="arr[61]"/></td>
            <td><input type="text" (keydown.enter)="arr[62]=catch($event.target.value)" [value]="arr[62]"/></td>
            <td><input type="text" (keydown.enter)="arr[63]=catch($event.target.value)" [value]="arr[63]"/></td>
            <td><input type="text" (keydown.enter)="arr[64]=catch($event.target.value)" [value]="arr[64]"/></td>
            <td><input type="text" (keydown.enter)="arr[65]=catch($event.target.value)" [value]="arr[65]"/></td>
            <td><input type="text" (keydown.enter)="arr[66]=catch($event.target.value)" [value]="arr[66]"/></td>
            <td><input type="text" (keydown.enter)="arr[67]=catch($event.target.value)" [value]="arr[67]"/></td>
            <td><input type="text" (keydown.enter)="arr[68]=catch($event.target.value)" [value]="arr[68]"/></td>
            <td><input type="text" (keydown.enter)="arr[69]=catch($event.target.value)" [value]="arr[69]"/></td>
        </tr>
        <tr>
            <th>8</th>
            <td><input type="text" (keydown.enter)="arr[70]=catch($event.target.value)" [value]="arr[70]"/></td>
            <td><input type="text" (keydown.enter)="arr[71]=catch($event.target.value)" [value]="arr[71]"/></td>
            <td><input type="text" (keydown.enter)="arr[72]=catch($event.target.value)" [value]="arr[72]"/></td>
            <td><input type="text" (keydown.enter)="arr[73]=catch($event.target.value)" [value]="arr[73]"/></td>
            <td><input type="text" (keydown.enter)="arr[74]=catch($event.target.value)" [value]="arr[74]"/></td>
            <td><input type="text" (keydown.enter)="arr[75]=catch($event.target.value)" [value]="arr[75]"/></td>
            <td><input type="text" (keydown.enter)="arr[76]=catch($event.target.value)" [value]="arr[76]"/></td>
            <td><input type="text" (keydown.enter)="arr[77]=catch($event.target.value)" [value]="arr[77]"/></td>
            <td><input type="text" (keydown.enter)="arr[78]=catch($event.target.value)" [value]="arr[78]"/></td>
            <td><input type="text" (keydown.enter)="arr[79]=catch($event.target.value)" [value]="arr[79]"/></td>
        </tr>
        <tr>
            <th>9</th>
            <td><input type="text" (keydown.enter)="arr[80]=catch($event.target.value)" [value]="arr[80]"/></td>
            <td><input type="text" (keydown.enter)="arr[81]=catch($event.target.value)" [value]="arr[81]"/></td>
            <td><input type="text" (keydown.enter)="arr[82]=catch($event.target.value)" [value]="arr[82]"/></td>
            <td><input type="text" (keydown.enter)="arr[83]=catch($event.target.value)" [value]="arr[83]"/></td>
            <td><input type="text" (keydown.enter)="arr[84]=catch($event.target.value)" [value]="arr[84]"/></td>
            <td><input type="text" (keydown.enter)="arr[85]=catch($event.target.value)" [value]="arr[85]"/></td>
            <td><input type="text" (keydown.enter)="arr[86]=catch($event.target.value)" [value]="arr[86]"/></td>
            <td><input type="text" (keydown.enter)="arr[87]=catch($event.target.value)" [value]="arr[87]"/></td>
            <td><input type="text" (keydown.enter)="arr[88]=catch($event.target.value)" [value]="arr[88]"/></td>
            <td><input type="text" (keydown.enter)="arr[89]=catch($event.target.value)" [value]="arr[89]"/></td>
        </tr>
        <tr>
            <th>10</th>
            <td><input type="text" (keydown.enter)="arr[90]=catch($event.target.value)" [value]="arr[90]"/></td>
            <td><input type="text" (keydown.enter)="arr[91]=catch($event.target.value)" [value]="arr[91]"/></td>
            <td><input type="text" (keydown.enter)="arr[92]=catch($event.target.value)" [value]="arr[92]"/></td>
            <td><input type="text" (keydown.enter)="arr[93]=catch($event.target.value)" [value]="arr[93]"/></td>
            <td><input type="text" (keydown.enter)="arr[94]=catch($event.target.value)" [value]="arr[94]"/></td>
            <td><input type="text" (keydown.enter)="arr[95]=catch($event.target.value)" [value]="arr[95]"/></td>
            <td><input type="text" (keydown.enter)="arr[96]=catch($event.target.value)" [value]="arr[96]"/></td>
            <td><input type="text" (keydown.enter)="arr[97]=catch($event.target.value)" [value]="arr[97]"/></td>
            <td><input type="text" (keydown.enter)="arr[98]=catch($event.target.value)" [value]="arr[98]"/></td>
            <td><input type="text" (keydown.enter)="arr[99]=catch($event.target.value)" [value]="arr[99]"/></td>
        </tr>
    </tbody>

</table>