<div class="ok">

  <div class="menu">
    <ul class="navMenu">
      <li><a routerLink=""          >Home</a></li>
        <li><a routerLink="/sign-in">Sign in</a></li>
    </ul>
  </div>

  <div class='wtfisthis'>
    <div class='price-plan fancy poor'>
      <p class="taitồ">Starter</p>
      <p class='price'><sup>$</sup>10<sub> / Month</sub></p>
      <ul class='price-points'>
        <li>No advertisement</li>
        <li>1GB Storage</li>
        <li>Normal priority support queue</li>
        <li>10 Users</li>
      </ul>
      <button class='polyFourth poly3'>Buy Now</button>
    </div>

    <div class='price-plan fancy poor'>
      <p class="taitồ">Advance</p>
      <p class='price'><sup>$</sup>25<sub> / Month</sub></p>
      <ul class='price-points'>
        <li>No advertisement</li>
        <li>5GB Storage</li>
        <li>High priority support queue</li>
        <li>25 Users</li>
      </ul>
      
      <button class='polyFourth poly3'>
        <div>Buy now</div>
      </button>
    </div>

    <div class='price-plan fancy luxury'>
      <p class="taitồ">Enterprise</p>
      <p class='price'><sup>$</sup>50<sub> / Month</sub></p>
      <ul class='price-points'>
        <li>No advertisement</li>
        <li>10GB Storage</li>
        <li>24/7 support</li>
        <li>Unlimited sharing</li>
      </ul>

      <button class='polyFourth poly3'>Buy Now</button>
    </div>
  </div>
</div>