<div class="body">

    <!-- <app-new-note></app-new-note> -->


    <!-- <button (click)="checkArray()">check item</button> -->


    <div class="noNotes"  *ngIf="this.noteSer.checkArchivePageIsEmpty()==true">
        <mat-icon class="noNotesIco">archive</mat-icon>
        <span class="noNotesText">Lưu trữ trống</span>
    </div>

    <div class="grid" #gridLayout>
        <div>
            <div class="item-content">
                <app-note></app-note>
            </div>
        </div>
    </div>



</div>