.body {
    margin-top: 70px;
    margin-left:280px;
}

.noNotes {
    color: #cccccc;
    display: flex;
    justify-content: center;

    margin-top: 173px;
    height: 100%;
}
.noNotesIco {
    font-size: 84px;
    display: block;
}
.noNotesText {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 20px;
    display: block;
    margin-left: -45px;
    margin-top: 90px;
}

// .item-content {
//     font-family: 'Google Sans', Roboto, Arial, sans-serif;
//     font-weight: 400;
//     font-size: 20px;
//     width: 100%;
//     white-space: normal;
//     word-wrap: break-word;
//     margin-bottom: 10px;
//     width: 90%;
//     white-space: normal;
//     word-wrap: break-word;
//     margin-top: 25px;
// }

// .item-content {
//     font-family: 'Google Sans', Roboto, Arial, sans-serif;
//     font-weight: 300;
//     font-size: 15px;
//     margin-top: 0;
//     font-size: 15px;
//     width: 100%;
//     white-space: normal;
//     word-wrap: break-word;
// }