  <mat-toolbar >
    <span>
      <img *ngIf="!this.user" routerLink="" src="../../../assets/flappy-bird.png" style="height: 35px;">
      <img *ngIf="this.user" routerLink="main" src="../../../assets/flappy-bird.png" style="height: 35px;">
      
    </span>
    <span class="example-spacer"></span>
  <div class="example-button-row">
    <button *ngIf="this.user" mat-raised-button color="primary" routerLink="score">History</button>
    <button  *ngIf="!this.user" (click)="logIn()" mat-raised-button color="primary">Sign In</button>
    <button *ngIf="!this.user" onclick="document.getElementById('id01').style.display='block' " mat-raised-button
      color="primary">Sign Up</button>
    <div id="id01" class="modal">
      <form class="modal-content animate" action="/action_page.php" method="post">
        <div class="imgcontainer">
          <span onclick="document.getElementById('id01').style.display='none'" class="close"
            title="Close Modal">&times;</span>
        </div>
        <div class="container">
          <label for="uname"><b>Username</b></label> <br>
          <input type="text" placeholder="Enter Username" name="uname" required> <br>
          <label for="psw"><b>Password</b></label> <br>
          <input type="password" placeholder="Enter Password" name="psw" required> <br>
          <label for="umail"><b>Email</b></label> <br>
          <input type="text" placeholder="Enter your mail" name="umail" required> <br>
          <button mat-raised-button color="primary">Register</button> <br>
          <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
          </label>
        </div>
        <div class="container" style="background-color:#f1f1f1">
          <button style="background-color: red;" type="button"
            onclick="document.getElementById('id01').style.display='none'" mat-raised-button
            color="primary">Cancel</button>
          <span class="psw">Forgot <a href="#">password?</a></span>
        </div>
      </form>
    </div>
    <script>
      // Get the modal
      var modal = document.getElementById('id01');

      // When the user clicks anywhere outside of the modal, close it
      window.onclick = function (event) {
        if (event.target == modal) {
          modal.style.display = "none";
        }
      }
    </script>
    <button *ngIf="this.user" (click)="logOut()" mat-raised-button color="primary">Sign Out</button>

  </div>
  <img *ngIf="this.user" routerLink="game" style="width: 50px;border-radius: 50%;" [src]="user.photoURL">
  <!-- <button (click)="tranferName()">click</button> -->
  
</mat-toolbar>
