<div style="width: 100%;height: 1000px;">
  <!-- calculator -->
  <div class="boder" style="width: 400px;height: 670px;margin-left: 40%;">
    <div style="width: 400px;height: 150px;">
      <h1>Calculator</h1>
      <input type="text"
        style="background-color: rgb(131, 131, 253); width: 395px;height: 100px;color: white;font-size: 45px;">
    </div>
    
    <div style="width: 400px;height: 50px;text-align: center;display: flex;justify-content: space-around;">
      <h1 class="colum boder" style="width: 150px;">DEL</h1>
      <h1 class="colum boder" style="width: 150px;">CLEAR</h1>
    </div>

    <div style="width: 400px;height: 100px; justify-content: center;display: flex;">
      <div>
        <p class="boder colum text" style="width: 80px;height: 80px;">7</p>
      </div>
      <div>
        <p class="boder colum text" style="width: 80px;height: 80px;">8</p>
      </div>
      <div>
        <p class="boder colum text" style="width: 80px;height: 80px;">9</p>
      </div>
      <div>
        <p class="boder colum text" style="width: 80px;height: 80px;">+</p>
      </div>
    </div>

    <div style="width: 400px;height: 100px; justify-content: center;display: flex;">
      <div>
        <p class="boder colum text" style="width: 80px;height: 80px;">4</p>
      </div>
      <div>
        <p class="boder colum text" style="width: 80px;height: 80px;">5</p>
      </div>
      <div>
        <p class="boder colum text" style="width: 80px;height: 80px;">6</p>
      </div>
      <div>
        <p class="boder colum text" style="width: 80px;height: 80px;">-</p>
      </div>
    </div>

    <div style="width: 400px;height: 100px; justify-content: center;display: flex;">
      <div>
        <p class="boder colum text" style="width: 80px;height: 80px;">1</p>
      </div>
      <div>
        <p class="boder colum text" style="width: 80px;height: 80px;">2</p>
      </div>
      <div>
        <p class="boder colum text" style="width: 80px;height: 80px;">3</p>
      </div>
      <div>
        <p class="boder colum text" style="width: 80px;height: 80px;">*</p>
      </div>
    </div>

    <div style="width: 400px;height: 100px; justify-content: center;display: flex;">
      <div>
        <p class="boder colum text" style="width: 80px;height: 80px;">.</p>
      </div>
      <div>
        <p class="boder colum text" style="width: 80px;height: 80px;">0</p>
      </div>
      <div>
        <p class="boder colum text" style="width: 80px;height: 80px;background-color: rgb(253, 117, 117);">=</p>
      </div>
      <div>
        <p class="boder colum text" style="width: 80px;height: 80px;">/</p>
      </div>
    </div>

  </div>



</div>

<router-outlet></router-outlet>