<style>
    .huy {
        color: black;
        border: none;
        background: transparent;
        font-family: 'Google Sans', Roboto, Arial, sans-serif;
        padding: 8px 24px;
        font-size: 20px
    }

    .huy:hover {
        background-size: 150%;
        transition-duration: 0.3s;
        transform: scale(1.2);
    }

    .share {
        color: #1a73e8;
        border: none;
        background: transparent;
        font-family: 'Google Sans', Roboto, Arial, sans-serif;
        padding: 8px 24px;
        font-size: 20px
    }

    .share:hover {
        background-size: 150%;
        transition-duration: 0.3s;
        transform: scale(1.2);
    }
</style>

<h1 mat-dialog-title>Bạn có chắc muốn share cho {{data.value}}?</h1>
<div mat-dialog-actions style="text-align: center;">
    <button mat-button (click)="no()" class="huy">Hủy</button>
    <button mat-button (click)="yes(data.value)" class="share">Share</button>
</div>