*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  nav {
    box-shadow: 4px 4px rgba($color: #000000, $alpha: 0.2);
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color:  rgb(255, 207, 117);
  }
  .logo {
    color: white;

  }
  .nav-links {
    display: flex;
    justify-content: space-around;
    width: 40%;
    text-decoration: none;
  }
  .nav-links li {
    list-style: none;
  }
  .nav-links a {
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
  }

  
  @media screen and (max-width: 768px) {
    body {
      display: none;
    }
  }

  #cart{
    border:solid rgba($color: #000000, $alpha: 0.5);
    border-radius: 50px;
    background-color: white;
    width: 70px;
    height: 70px;
  }

  .text{
    font-size: 45px;
    
  }
  .button{
    width: 60px;
    height: 20px;
    background-color: white;
    border-radius: 5px;
    margin: 1mm;
    border-width: 0.1mm;
  }