<div class="container-footer w-container">
    <div class="w-row">
        <div class="footer-column w-clearfix w-col w-col-4"><img src="../../../assets/ITSS.png" alt="ITSS" width="225" height="56" class="failory-logo-image">
            <p class="footer-description-failory"><b>CÔNG TY TNHH DỊCH VỤ ĐÀO TẠO VÀ GIẢI PHÁP ITSS</b><br></p>
        </div>
        <div class="footer-column w-col w-col-8">
            <div class="w-row">
                <div class="w-col w-col-8">
                    <div class="w-row">
                        <div class="w-col w-col-7 w-col-small-6 w-col-tiny-7">
                            <h3 class="footer-titles">Thành viên</h3>
                            <p class="footer-links"><a href="" target="_blank"><span class="footer-link">Phạm Hữu Thắng<br></span></a><a href=""><span class="footer-link">Diệp Thiên Thiên<br></span></a><a href=""><span class="footer-link">Nguyễn Hoàng Trung</span></a><span><br></span>
                                <a href=""><span class="footer-link">Nguyễn Xuân Quang<br></span></a><a href=""><span class="footer-link"><br></span></a><a href=""><span class="footer-link"></span></a><strong><br></strong></p>
                        </div>
                        <div class="w-col w-col-5 w-col-small-6 w-col-tiny-5">
                            <h3 class="footer-titles"></h3>
                            <p class="footer-links"><a href=""><span class="footer-link"><br></span></a><a href=""><span class="footer-link"><br></span></a><a href=""><span class="footer-link"></span></a><a href=""><span class="footer-link"><br></span></a>
                                <a href=""><span class="footer-link"></span></a><strong><br></strong></p>
                        </div>
                    </div>
                </div>
                <div class="column-center-mobile w-col w-col-4">
                    <h3 class="footer-titles">Follow Us!</h3>
                    <a href="" target="_blank" class="footer-social-network-icons w-inline-block"><img src="https://uploads-ssl.webflow.com/5966ea9a9217ca534caf139f/5c8dbf0a2f2b67e3b3ba079c_Twitter%20Icon.svg" width="20" alt="Twitter icon"></a>
                    <a href="" target="_blank" class="footer-social-network-icons w-inline-block"><img src="https://uploads-ssl.webflow.com/5966ea9a9217ca534caf139f/5c8dbfe70fcf5a0514c5b1da_Instagram%20Icon.svg" width="20" alt="Instagram icon"></a>
                    <a href="" target="_blank" class="footer-social-network-icons w-inline-block"><img src="https://uploads-ssl.webflow.com/5966ea9a9217ca534caf139f/5c8dbe42e1e6034fdaba46f6_Facebook%20Icon.svg" width="20" alt="Facebook Icon"></a>
                    <a href="" target="_blank" class="footer-social-network-icons w-inline-block"><img src="https://uploads-ssl.webflow.com/5966ea9a9217ca534caf139f/5c8dc0002f2b676eb4ba0869_LinkedIn%20Icon.svg" width="20" alt="LinkedIn Icon"></a>
                    <a href="" target="_blank" class="footer-social-network-icons w-inline-block"><img src="https://uploads-ssl.webflow.com/5966ea9a9217ca534caf139f/5c8dc0112f2b6739c9ba0871_Pinterest%20Icon.svg" width="20" alt="Pinterest Icon" class=""></a>
                    <p class="footer-description">Email at: <a href=""><strong class="link-email-footer">Lorem Ipsum</strong></a><br></p>
                </div>
            </div>
        </div>
    </div>
</div>