<!-- <footer style="text-align:left;width: 99.5%;">
    <div style="margin-left: 5%;">
      <p>Company ITSS Training</p>
      <p>Team: ITSS Team Red</p>
      <p>Address : 34/31 Cu Xa Lu Gia, Q11, Ho Chi Minh City</p>
    </div>
  </footer> -->
  <!-- <div class="bo-wrap clr4">
    <div class="bo-footer">
      <div class="bo-footer-social"></div>
    </div>
  </div>
  <div class="bo-wrap clr3">
    <div class="bo-footer">
      <div class="bo-footer-smap">
        <a href="http://www.bangalionline.com/sitemap.php">Sitemap</a> | <a
          href="http://www.bangalionline.com/terms.php">Policy</a> | <a
          href="http://www.bangalionline.com/contact.php">Contact Us</a>
      </div>
      <div class="bo-footer-uonline">
        <script id="_wautoy">var _wau = _wau || []; _wau.push(["small", "p6egqc1t5bze", "toy"]);
          (function () {
            var s = document.createElement("script"); s.async = true;
            s.src = "http://widgets.amung.us/small.js";
            document.getElementsByTagName("head")[0].appendChild(s);
          })();</script>
      </div>
      <div class="bo-footer-power">
        Powered By JK - <a href="http://www.jobaerulkaes.com/">Web & Apps Developer</a>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="bo-wrap clr4">
    <div class="bo-footer">
      <div class="bo-footer-copyright">&copy;2013 BangaliOnline.com All rights reserved.</div>
    </div>
  </div> -->
  <!-- <div class="bo-wrap clr4">
    <div class="bo-footer">
      <div class="bo-footer-social"></div>
    </div>
  </div> -->
  <div class="bo-wrap clr3">
    <div class="bo-footer">
      <div class="bo-footer-smap">
       <p>Contact Us:</p>
       <p>Company ITSS Training</p>
       <p>Team: ITSS Team Red</p>
       <p>Address : 34/31 Cu Xa Lu Gia, Q11, Ho Chi Minh City</p>
      </div>
  <div class="bo-footer-power">
    Powered By ITSS21S-RedTeam
  </div>
  <div class="clearfix"></div>
</div>
</div>
<div class="bo-wrap clr4">
<div class="bo-footer">
  <div class="bo-footer-copyright">&copy;2021  All rights reserved.</div>
</div>
</div>
