.div{
    width: 99vw;
    height: 20vw;
    text-align: center;
}
button{
    color: white;
    width: 20vw;
    height: 5vw;
    margin-top: 10vw;
    border-radius: 25px;
    box-shadow: 4px 4px rgba($color: #000000, $alpha: 0.2);
    background-color: rgb(255, 207, 117);
    font-size: 45px;
    text-shadow: 4px 4px rgba($color: #000000, $alpha: 0.2);
}