<div class="ok">
    <div class="wrapper">
        <div class="Container">
            <div class="nav">

                <div class="logo">
                    <img src="../../../assets/memos-logo.png" alt="logo">
                </div>

                <div class="menu">
                    <ul>
                        <li><a routerLink="/promo"  >Promotion</a></li>
                        <li><a routerLink="/sign-in">Sign in</a></li>
                    </ul>
                </div>

            </div>

            <div class="header">

                <h1>Memos - The note you need</h1>
                <p style="font-style: italic;">A product by team <a style="color: rgb(41, 243, 41); font-size: 18pt;">Green</a></p>

                <button type="button" routerLink="/register">Register Here</button>

            </div>
        </div>
    </div>
</div>