<div style="float: left;" class="grid" #gridLayout *ngFor="let note of noteServcies.getArchive ;let j= index">
    <div class="item">
        <div class="item-content"
            [ngStyle]="{'background-color':this.noteServcies.getColorByNumArchive(j+1,'archive')}">
            <div class="noteItem unselectable">

                <div class="cardInfo">


                    <div class="cardImage">
                        <img [src]="note.imagePreview">
                    </div>
                    <div class="fix-line-css">
                        <h3 class="cardTitle">{{note.title}}</h3>
                    </div>
                    <div class="fix-line-css">
                        <p class="cardDescripion">{{note.description}}</p>
                    </div>





                    <div class="cardFooter" [ngClass]="{menuActive:menuActiveTrigger}">

                        <div class="noteMenuWrap">



                            <button matTooltip="Khôi phục" mat-menu-item class="myMenuItem myMenuItemRiple"
                                (click)="changeNote(note.pin,note.arhieved,note.id)">
                                <mat-icon>replay</mat-icon>
                            </button>


                        </div>


                    </div>


                </div>
            </div>
        </div>
    </div>
</div>